@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #e07b67;
  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #afabb6;
  --dark-60: #ffffff;
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
